<label for="{{ completeaza_raport.status_din_raport.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Selectează specia</label>
<div class="mt-2">
  <select id="{{ completeaza_raport.status_din_raport.id_for_label }}" name="status_din_raport" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    {% for clasa in specie %}
      <option value="{{ clasa.pk }}">{{ clasa.name }}</option>
    {% endfor %}
  </select>
</div>
